In [1]:
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error, normalized_mutual_info_score
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier, VotingClassifier, GradientBoostingRegressor
import pandas as pd
import numpy as np
%matplotlib inline

In [155]:
train = pd.DataFrame.from_csv('train.tsv')
#train = train.sample(frac=0.01, random_state=3)

target = train['y']
#train = train.drop(['y'], axis=1)

test = pd.DataFrame.from_csv('test.tsv')
f60_train = train['f60']
f60_test = test['f60']

In [203]:
test['y'] = 0
test = test.set_index(np.linspace(1, test.shape[0], test.shape[0]).astype(int))
test['index1'] = test.index

   year  week  shift   item_id     f60  y  index1
1  2015     3      3  20447918  1290.0  0       1

In [212]:
for index in test['index1']:
    week = test.loc[(test['index1']==index)]['week'].values[0]
    item = test.loc[(test['index1']==index)]['item_id'].values[0]
    A = test.loc[(test['item_id'] == item) & (test['week']-test['shift']==week)]
    if A.empty == False:
        c = c +1
        i = A.index[0]
        test.set_value(index, 'y', A.loc[test['index1']==i]['f60'].values[0]*1.61)

In [213]:
test[test['y']!=0].shape

((1335, 7), 2670)

In [208]:
baseline = pd.read_csv("baseline_submission.tsv")

In [209]:
baseline[:5]

      Num         y
0  348622    1497.0
1  348623   27033.0
2  348624  297560.0
3  348625   29471.0
4  348626      16.0

In [214]:
test[:5]

   year  week  shift   item_id       f60       y  index1
1  2015     3      3  20447918    1290.0    1497       1
2  2015     3      3  20447902   21307.0   27033       2
3  2015     3      3  20447732  285904.0  297560       3
4  2015     3      3  20443951   33970.0   29471       4
5  2015     3      3  20443944       0.0      16       5